html,body{
    height: 100%;
}
body { 
    margin: 0;
}
.videoContainer{
    height: 100%;
    /* padding: 0;
    margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#video{
    width: 80%;
    height: 80%;
    margin: auto 0;
}
.buttonContainer{
    margin-top: 1rem;
}
.buttonContainer button{
    border-radius: 5px;
}
/* .videoCard{
    width: 100%;
    height: 100%;
} */